.vscode/**/*
.gitignore
.vscodeignore
.travis.yml
appveyor.yml
mod
bin
luals-addon
src
out
test
coverage
**/*.js.map
**/*.cjs.map
**/*.css.map
node_modules
build.ts
todo
.github
**/*.pdn
.eslint.config.ts
tsconfig.json