.vscode/**/*
.gitignore
.npmignore
.travis.yml
appveyor.yml
mod
luals-addon
src
patches
out
test
coverage
**/*.js.map
**/*.css.map
node_modules
build.ts
release.sh
todo
.github
**/*.pdn
.eslint.config.ts
tsconfig.json
**/*.vsix
**/*.tgz
.c8rc.json
.luarc.json
eslint.config.ts
